body{
    font-family: "Quicksand Book" , sans-serif ;
}
#sect1{
    text-align: center;
}
p{
    text-align: justify;
}
h2{
    text-align: center;
}
#sect2 {
    text-align: center;
}
.con{
    text-align: center;
    margin: 0;
}
#img1{
    margin-top: 10vh;
    margin-left: 2vw;
    justify-content: left;
}